<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eleonorvinicius.framentsexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.eleonorvinicius.framentsexample.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.eleonorvinicius.framentsexample.SplashActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        
        <activity
            android:name="com.eleonorvinicius.framentsexample.MenuActivity"
            android:label="@string/title_activity_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.eleonorvinicius.framentsexample.ServiceActivity"
            android:label="@string/title_activity_service" >
        </activity>
        
        <activity
            android:name="com.eleonorvinicius.framentsexample.SecondServiceActivity"
            android:label="@string/title_activity_service" >
        </activity>
        
        <activity
            android:name="com.eleonorvinicius.framentsexample.ThirdServiceActivity"
            android:label="@string/title_activity_service" >
        </activity>
        
        <service android:name="com.eleonorvinicius.framentsexample.ServiceSample" />
        <service android:name="com.eleonorvinicius.framentsexample.SecondServiceSample" />
        <service android:name="com.eleonorvinicius.framentsexample.ThirdServiceSample" />
        
        <receiver android:name="com.eleonorvinicius.framentsexample.MyScheduleServiceBroadcastReceiver"/>
        <receiver android:name="com.eleonorvinicius.framentsexample.MyStartServiceBroadcastReceiver"/>
    </application>
</manifest>